PUID={{ puid }}
PGID={{ pgid }}
DOCKERMODE=true
CALIBRE_WEB_URL=https://booklore.{{ inventory_hostname }}
ONBOARDING=false
SEARCH_MODE=universal
IRC_SERVER={{ irc_server }}
IRC_PORT={{ irc_port }}
IRC_CHANNEL={{ irc_channel }}
IRC_NICK={{ irc_nick }}
IRC_SEARCH_BOT=search
IRC_USE_TLS=false
OPENLIBRARY_ENABLED=true