PUID={{ puid }}
PGID={{ pgid }}
DOCKERMODE=true
ONBOARDING=false
SEARCH_MODE=universal

# Libraries
CALIBRE_WEB_URL=https://booklore.{{ inventory_hostname }}
AUDIOBOOK_LIBRARY_URL=https://audiobookshelf.{{ inventory_hostname }}
DESTINATION_AUDIOBOOK=/audiobooks

# IRC settings
IRC_SERVER={{ irc_server }}
IRC_PORT={{ irc_port }}
IRC_CHANNEL={{ irc_channel }}
IRC_NICK={{ user }}
IRC_SEARCH_BOT=search
IRC_USE_TLS=false

# Metadata providers
OPENLIBRARY_ENABLED=true
HARDCOVER_ENABLED=true
HARDCOVER_API_KEY={{ secrets.hardcover }}

# Torrent client
PROWLARR_TORRENT_CLIENT=qbittorrent
QBITTORRENT_URL=http://qbittorrent:{{ qbittorrent.port }}
QBITTORRENT_USERNAME={{ user }}